@charset "UTF-8";
@keyframes animate-title {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scrolling {
  0% {
    transform: translate3d(0, 0, 0);
    /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    /* position finale à gauche */
  }
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100%;
  font-size: 1.2rem;
  min-height: 100% !important;
}

.bg--color {
  background-color: #f76300;
  opacity: 0.9;
}

.text--color {
  color: #f76300;
}

.bg--img {
  background-image: url("images/macon-aigues-mortes-david-barry-mur-creation.png");
}

.navbar {
  z-index: 5;
  opacity: 0.9;
}
.navbar .navbar-toggler {
  box-shadow: 0 0 0 0 !important;
  outline: 0 !important;
}
.navbar .navbar-toggler span:hover {
  background-color: #f76300 !important;
  color: #fff !important;
  border-color: #000 !important;
}
.navbar a:hover {
  color: #fff !important;
}
.navbar .nav-link:hover,
.navbar .home {
  background-color: #fff;
  border-radius: 10px;
  color: #f76300 !important;
  border: 2px solid #fff;
}

h2 {
  padding-top: 7.5rem !important;
  font-family: 'Cinzel Decorative', display;
}

@keyframes flashyTitle {
  0%   { transform: rotate(0deg) scale(1); }
  25%  { transform: rotate(10deg) scale(1.2); }
  50%  { transform: rotate(-10deg) scale(0.9); }
  75%  { transform: rotate(15deg) scale(1.3); }
  100% { transform: rotate(0deg) scale(1); }
}

.text {
 animation: frameShake 1s infinite alternate;
  max-width: 17rem;
  font-size: 1.8rem;
  box-shadow: 3px 3px 5px #272626;
  letter-spacing: 0.2rem;
  font-family: 'Amaranth', sans-serif;
}

@keyframes frameShake {
  0% { transform: translate(0,0) rotate(0deg); }
  25% { transform: translate(-3px, 2px) rotate(-1deg); }
  50% { transform: translate(2px, -3px) rotate(1deg); }
  75% { transform: translate(-2px, 3px) rotate(-1deg); }
  100% { transform: translate(3px, -2px) rotate(1deg); }
}

.text p {
      animation: neonFlicker 1.5s infinite, shakeSkew 2s infinite;
  text-shadow:
    0 0 5px orange,
    0 0 10px rgb(21, 255, 0),
    0 0 20px rgb(25, 0, 255),
    0 0 40px rgb(255, 0, 13);
}


@keyframes neonFlicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: 
      0 0 5px orange,
      0 0 10px rgb(21, 255, 0),
      0 0 20px rgb(25, 0, 255),
      0 0 40px rgb(255, 0, 13);
    color: rgb(108, 96, 143);
  }
  20%, 24%, 55% {
    text-shadow: 0 0 2px #fff, 0 0 5px orange;
    color: yellow;
  }
}

.new {
  animation: appear 3000ms ease-out;
  font-family: 'Cinzel Decorative', display;
}

.old {
  animation: appear 3000ms ease-out;
  font-family: 'Cinzel Decorative', display;
}

.barrow {
  animation: run 6000ms infinite;
}

.scrolling_menu {
  max-width: 80%;
  margin: 1.5em auto 2em;
  border: 3px solid #000;
  overflow: hidden;
  font-size: 1.3rem;
  background-color: #fff !important;
  color: #f76300 !important;
  box-shadow: 0 0.15em 0.3em #000, inset 0 0 0.3em 0.1em #fff;
}
.scrolling_menu > :first-child {
  display: inline-block;
  padding-right: 2em;
  padding-left: 100%;
  white-space: nowrap;
  animation: scrolling 45s infinite linear;
}
.scrolling_menu .scrolling_title {
  font-weight: 700;
font-family: 'Playfair Display', serif;
}
.scrolling_menu .bullets {
  padding-left: 7px;
  padding-right: 7px;
}

.left {
  float: left;
}

.border--color {
  border: 2px solid #f76300;
}

.footer {
  font-size: 0.8rem !important;
  line-height: 1.15;
  opacity: 0.9;
}
.footer a:hover {
  color: #fff !important;
  font-weight: 700;
}

.maconnerie,
.toiture {
  font-weight: 400;
}

.before-after {
  padding: 0.5rem;
  border-style: dashed double;
  max-width: 35rem;
  border-color: #5f5f5f;
}


/* animation image before footer */ 
.img-travail{
  display:flex;
  flex-wrap: wrap;
  gap:0;
  justify-content: center;
  align-items:center;
}

.img-travail img{
  width: 300px;
  height: 300px!important;
  object-fit: contain;
  max-width: 50%;
    filter: blur(0.3px) brightness(1.2);
  transform: rotate(1deg);
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(1deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-1deg); }
  100% { transform: rotate(0deg); }
}

/* animation titre du bas */
.card-img, .index-photos img{
    width:300px!important;
    height:auto!important;
}


.img-bottom{
  text-align: center;
}

.img-bottom img{
  width:1000px;
  max-width: 70%;
}



.cta{
   margin: 500px 0;
    font-size: 3rem;
    text-align: center;
    color: #ff0000;
    animation: crazyAnimation 5s infinite linear;
}



@keyframes crazyAnimation {
    0% {
        transform: rotate(0deg) scale(1) skew(0deg, 0deg);
        color: #ff0000;
        text-shadow: 0 0 0px #000;
    }

    25% {
        transform: rotate(360deg) scale(1.1) skew(30deg, 30deg);
        color: #00ff00;
        text-shadow: 2px 2px 20px #000, -2px -2px 20px #000;
    }

    50% {
        transform: rotate(720deg) scale(0.8) skew(-30deg, -30deg);
        color: #0000ff;
        text-shadow: 0 0 50px #fff, 0 0 50px #000;
    }

    75% {
        transform: rotate(1080deg) scale(1.05) skew(60deg, 60deg);
        color: #ff00ff;
        text-shadow: 5px 5px 30px #000, -5px -5px 30px #000;
    }

    100% {
        transform: rotate(1440deg) scale(0.5) skew(0deg, 0deg);
        color: #ff0000;
        text-shadow: 0 0 0px #000;
    }
}



@media all and (max-width: 350px) {
  .navbar h1 a {
    padding-left: 0 !important;
  }

  .navbar svg {
    display: none;
  }

  .phone {
    padding-left: 0 !important;
  }

  .d-flex .before-after img {
    max-width: 7rem !important;
  }
}
@media all and (max-width: 400px) {
  .navbar h1 a {
    font-size: 0.8rem !important;
  }

  .navbar-toggler {
    padding: 0rem !important;
  }

  .container .carousel,
.contaner .carousel-second,
.carousel-third {
    padding-left: 0rem !important;
  }
}
@media all and (max-width: 480px) {
  .carousel,
.carousel-second,
.carousel-third {
    padding-left: 1rem !important;
  }

  .before-after {
    max-width: 90% !important;
  }
  .before-after .img {
    max-width: 8rem !important;
  }

  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
@media all and (max-width: 500px) {
  h1 a {
    font-size: 1rem !important;
  }

  .footer {
    flex-direction: column;
  }
}
@media all and (max-width: 600px) {
  main img {
    max-width: 17rem;
  }

  @keyframes run {
    0% {
      margin-left: 0;
    }
    50% {
      margin-left: 70%;
    }
    90% {
      transform: scale(-1, 1);
    }
    95% {
      margin-left: 0px;
    }
    96% {
      transform: scale(-1, 1);
    }
    97% {
      margin-left: 0;
    }
    100% {
      margin-left: 0;
    }
  }
  .bio {
    padding: 1rem 2rem;
  }
}
@media all and (min-width: 600px) {
  .bio {
    padding: 3rem;
  }

  .text {
    max-width: 35rem;
  }

  .run {
    max-width: 32rem;
  }

  .container .carousel, .container .carousel-second, .container .carousel-third {
    padding-left: 0rem !important;
  }

  .roof {
    max-width: 18rem !important;
  }

  @keyframes run {
    0% {
      margin-left: 0;
    }
    50% {
      margin-left: 80%;
    }
    90% {
      transform: scale(-1, 1);
    }
    95% {
      margin-left: 0px;
    }
    96% {
      transform: scale(-1, 1);
    }
    97% {
      margin-left: 0;
    }
    100% {
      margin-left: 0;
    }
  }
}
@media all and (min-width: 750px) {
  .container .carousel,
.container .carousel-second,
.carousel-third {
    padding-left: 4.5rem !important;
  }
}
@media all and (min-width: 970px) {
  .bio {
    padding: 3rem 4rem;
  }

  .container .carousel,
.container .carousel-second,
.carousel-third {
    padding-left: 10.5rem !important;
  }

  .services {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .services .toiture {
    padding-top: 3rem;
  }

  @keyframes run {
    0% {
      margin-left: 0;
    }
    50% {
      margin-left: 87%;
    }
    90% {
      transform: scale(-1, 1);
    }
    95% {
      margin-left: 0px;
    }
    96% {
      transform: scale(-1, 1);
    }
    97% {
      margin-left: 0;
    }
    100% {
      margin-left: 0;
    }
  }
}
@media all and (max-width: 992px) {
  .navbar .nav-link {
    padding-left: 0.5rem;
  }
}
@media all and (max-width: 1150px) {
  .arrow-right {
    display: none;
  }
}
@media all and (min-width: 1150px) {
  .arrow-down {
    display: none;
  }

  .index-photos {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section img, section .photos {
    max-width: 20rem;
    margin: 0 !important;
  }
  section svg {
    margin: 1rem;
  }
  section .row > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .container .carousel,
.container .carousel-second,
.carousel-third {
    width: 20rem;
    max-width: 20rem;
    padding: 0 !important;
  }

  .slick-next, .slick-arrow {
    display: none;
  }
}
@media all and (min-width: 1350px) {
  .index-photos {
    max-width: 1350px;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
